{% extends 'base.html' %}
{% load dwaiter_form_core %}

{% block meta_title %}{% firstof page.meta_title 'Contact' %}{% endblock %}
{% block meta_description %}{{ page.meta_description }}{% endblock %}
{% block meta_keywords %}{{ page.meta_keywords }}{% endblock %}

{% block body_class %}contact-page{% endblock %}

{% block content %}
    <div class="page-width">
        <div class="page-width-inner">
            <form method="post">
                {% csrf_token %}
                {% form_errors form %}

                {% if messages %}
                    <ul class="form__success">
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}

                {% form_fields form %}

                <input type="submit" />
            </form>
        </div>
    </div>
{% endblock %}
